<h1>Editing cart</h1>

<%= render "form", cart: @cart, product: @product %>

<br>

<div>
  <%= link_to "Show this cart", [@notepad, @cart] %> |
  <%= link_to "Back to carts", notepad_carts_path %>
</div>
